h1{
    color: (70,77,70);
    font-size: 65px; 
    font-family: "Consolas", sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}
h2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
}
h3{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20%;
    text-decoration: underline;
}

h4{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

h5{
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 50px;
}

h6{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

ul{
    list-style-type: none;
    font-size: 40px;
    font-family: "Consolas", sans-serif;
    font-weight: normal;
    text-align: right;
    line-height: 150%;
    color: black;
    text-decoration: none;
    text-shadow: none;
}

.principal a{
    color: black;
    text-decoration: none;
}
.principal a:hover {
    color: black;
    text-decoration: underline;
  }

.menu{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1;
    width: auto;
    margin-left: -4px;
    margin-right: -4px;
    text-decoration: none;
  }

menu{
    background-color:black;
    margin-top: 18%;
    display: block;
    width: auto;
    height: 50px;
    background-position: fixed;
}
    
  .menu a{
        display: inline;
        color: white;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: center; 
        text-decoration: none;
        margin-right: 16px;
    }

menu a:hover {
      opacity: 0.7;
    }

    #logo{
      width: 2.75%;
      margin-top: 7px;
         }

  
html{
    scroll-padding-top: 70px;
}

/*MUSEOS*/
/*slideshow*/

.banner-1{
  background-image: url(./louvre-par.jpg);
  float: left;
  width: 101.2%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: -8px;
  margin-bottom: 30px;
}

.banner-2{
  background-image: url(./louvre-ab.jpg);
  float: left;
  width: 101.2%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  margin-left: -8px;
  margin-bottom: 30px;
}

.columna {
  float: left;
  width: 24.5%;
  text-align: center;
  font-size: 20px;
  border-right: 1px solid #888;
}
.columna-1{
  float: left;
  width: 24.5%;
  text-align: center;
  font-size: 20px;
}
.columna2{
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fr-ea{
  background-color: black;
  color: white;
  font-size: 22px;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 2px;
  border-radius: 12px;
}
.fr-ea a{
  text-decoration: none;
  color: white;
}
.fr-ea a:hover{
  text-decoration: underline;
}


/*ARTISTAS*/
#tablaArtistas{
    text-align:center;
    margin: auto;
    font-size: 20px;
}

.container {
   position: relative;
    width: 50%;
  }
  
.image {
    width: 300px;
  }  

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }



  /* Talleres*/
#oleoypastel{
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.accordion {
    background-color: #b5b5b5;
    color: #3f3f3f;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 26px;
  }
  .accordion:hover {
    background-color: #ccc;
    height: 63px;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #e6e6e6;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: #ccc;
  } 

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .tablinks{
    font-size: 20px;
  }

  #tablasTalleres{
    padding-left: 30px;
  }

/*INSCRIPCION*/
.inscribirse {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  float: right;
}

.inscribirse:hover {
  opacity: 0.8;
}

.cont {
  padding: 16px;
  margin: auto;
}

.caja {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.caja-adentro  {
  background-color: #fff;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}

#nombre, #apellido, #taller, #e-mail  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.enviar {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelar {
  padding: 14px 20px;
  background-color: red;
  width: 100%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enviar:hover, .cancelar:hover {
  opacity: 0.80;
}

.cerrar {
  position: absolute;
  right: 370px;
  top: 75px;
  font-size: 25px;
  font-family: Arial, sans-serif;
  color: black;
}
.cerrar:hover, .cerrar:focus {
  cursor: pointer;
}

/*NOSOTROS*/
.columna3{
  float: left;
  width: 33.33%;
}

form{
  width: 90%;
}

.container2 {
  padding: 10px;
  background-color: #f1f1f1;
  margin-left: 10px;
}

input[type=text], input[type=button] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=button] {
  background-color: black;
  color: white;
  border: none;
}

input[type=button]:hover {
  opacity: 0.8;
}

/*CONTACTO*/

footer{
  background-color: black;
  color: white;
  font-size: 18px;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: -4px;
  position: relative;left: -4px;bottom: -4px;right: -4px;
}

.contact{
  text-align: center;
  margin-bottom: 50px;
}

#logo-final{
  width: 5%;
  margin-right: 50%;
  margin-left: 50%;
  text-align: center;
}